
#centre {
    text-align: center;
    padding: 200px 0;

}

#bigfont {
    font-size: 120px;
    font-family: 'Calibri';
    font-weight: bold;
    margin: 0px;
    padding: 0px;

}

#align-right {
    text-align: right;
}

.searchBar {
   width: 600px;
   height: 40px;
   border-radius: 20px;
}

.bar {
    text-align: left;
    width: 400px;
    height: auto;
}

.text-width {
    width: 200px;
}